@page "/thuc-don"
<div class="head">
    <Search />
</div>

<div class="page">
        <div class="sidebar">
            <LeftBar />
        </div>
        <div>
            <table>
                
            </table>
        </div>
        <div class="bill">
            <Bill />
        </div>
    
</div>
