@page "/thuc-don"
<div class="page">
    <div class="sidebar">
        <LeftBar />
    </div>
    <div class="d-flex">
        <div>
            <ListProduct />
        </div>
        <div>
            <Bill/>
        </div>
    </div>
</div>