<div class="head">
    <Search />
</div>

<div class="page ">
    <div class="sidebar @(isOrder==false ? "d-block" : "d-none")">
        <LeftBar />
    </div>
    <div>
        <ListProduct IsOrder="@isOrder" HandleOrderProduct="@HandleOrderProduct"/>
    </div>
    <div class="bill @(isOrder==true ? "d-block" : "d-none")">
        <Bill />
    </div>

</div>
