<div class="head">
    <Search />
</div>

<div class="page">
    <div class="sidebar">
        <LeftBar />
    </div>
    <div>
        <ListProduct />
    </div>
    <div style="display:none" class="bill">
        <Bill />
    </div>

</div>
