
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/thanh-toan" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Tất cả
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/thanh-toan" Match="NavLinkMatch.All">
                <span class="oi oi-cart" aria-hidden="true"></span> Nước ép
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-cart" aria-hidden="true"></span> Sinh tố
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-cart" aria-hidden="true"></span> Cà phê
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

