* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: #F8F2EB;
    padding: 50px 0px;
}

.col-10 {
    margin: 0;
    padding: 0;
}

.list-product {
    padding: 60px 0px;
    margin: 0px;
}

.list-product__col {
    padding: 0px;
    margin: 0px;
    margin-bottom: 70px;
}

.card-body {
    height: 180px;
    margin: 0px;
    padding: 0px;
}

.list-product__card {
    padding: 0px;
   
}

.list-product__img {
    
    border-radius: 100px;
    width:150px;
    height:150px;
}
/* ..... */

.list-product__text {
    font-size: 26px;
    padding: 0px;
    width:100%;
    height:100%;
}

.list-product-name {
    Font-family: Roboto;
    Font-style: Bold;
    height: 90px;
}

.list-product__price {
    padding-top: 20px;
    color: #493D3D;
}
/* ........ */

.list-product__backgrourd {
    background-color: #F8F2EB;
    width: 95%;
    margin: 0px;
}
/* icon */

.fa-caret-right {
    z-index: 3;
    width: 60px;
    padding-left: 30px;
    color: black;
}

.list-product__icon {
    padding: 0px;
    margin: 0px;
    /* background-color: #F8F2EB; */
    /* justify-content: center; */
    /* align-content: center; */
    display: flex;
    align-items: center;
}

.roww3 {
    background-color: bisque;
    z-index: 2;
    width: 100%;
    height: 100px;
}

.list-product__content {
    display: flex;
    margin-bottom:50px;
}

.list-product__row1 {
    Font-family: ReadexPro;
    Font-style: Regular;
    Font-size: 50px;
    z-index: 2px;
    color: black;
    border-radius: 80px;
    padding-bottom: 70px;
    /* background-color: aquamarine; */
}

.list-product__row1__payment {
    border-radius: 80px;
    /* background-color: black; */
    color: white;
    display: flex;
    flex-direction: row-reverse;
}

.list-product__row1__payment__btn {
    background-color: black;
    color: white;
    width: 150px;
    border-radius: 90px;
    height: 70px;
    Font-family: Roboto Font;
    font-size: large;
}
@media only screen and (min-width: 1368px) and (max-width: 1568px) {
    .list-product__text {
        font-size: 20px;
        padding: 0px;
        width: 100%;
        height: 100%;
    }
}