
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 list-product__icon">
                <img class="fa-caret-right " src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/OOjs_UI_icon_previous-ltr.svg/1200px-OOjs_UI_icon_previous-ltr.svg.png" alt="">
            </div>

            <div class="col-10 ">
                <div class="row list-product__row1">
                    <div class="col-6 ">
                        <label for="Tất cả đồ uống "><b>Tất cả đồ uống</b></label>
                    </div>
                    <div class="col-6 list-product__row1__payment ">
                        <button class="btn btn-danger list-product__row1__payment__btn" @onclick="HandleOrder"><b>Thanh toán</b></button>
                    </div>
                </div>
                <!-- ---- -->
                <div class="row 1 list-product">

                    <div class="col-4 list-product__col">
                        <div class="  list-product__backgrourd">
                            <div class="card-body">
                                <div class="list-product__content">
                                    <div class="col-6 col-sm-6 list-product__card">
                                        <img class="list-product__img" src="../../public/img/sinhtodau.png" alt="">
                                    </div>
                                    <div class="col-6 col-sm-6 list-product__text">
                                        <div class="list-product-name"> <b>Sinh tố dâu </b></div>
                                        <p class="list-product__price">35.000</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 list-product__col">
                        <div class="list-product__backgrourd">
                            <div class="card-body">
                                <div class="list-product__content">
                                    <div class="col-6 list-product__card">
                                        <img class="list-product__img" src="../../public/img/sinhtobo.png" alt="">
                                    </div>
                                    <div class="col-6 list-product__text">
                                        <div class="list-product-name"> <b>Sinh tố dâu </b></div>
                                        <p class="list-product__price">35.000</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 list-product__col">
                        <div class=" list-product__backgrourd">
                            <div class="card-body">
                                <div class="list-product__content">
                                    <div class="col-6 list-product__card">
                                        <img class="list-product__img" src="../../public/img/tradao.png" alt="">
                                    </div>
                                    <div class="col-6 list-product__text">
                                        <div class="list-product-name"> <b>Trà đào cam xả màu vàng khè</b></div>

                                        <p class="list-product__price">35.000</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- ---------het row 1---- -->
                <div class="row 1 list-product">
                    <div class="col-4 list-product__col">
                        <div class="list-product__backgrourd">
                            <div class="card-body">
                                <div class="list-product__content">
                                    <div class="col-6 list-product__card">
                                        <img class="list-product__img" src="../../public/img/cafe1.png" alt="">
                                    </div>
                                    <div class="col-6 list-product__text">
                                        <div class="list-product-name"> <b>Latte Macchiato </b></div>
                                        <p class="list-product__price">35.000</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 list-product__col">
                        <div class="list-product__backgrourd">
                            <div class="card-body">
                                <div class="list-product__content">
                                    <div class="col-6 list-product__card">
                                        <img class="list-product__img" src="../../public/img/cafe2.png" alt="">
                                    </div>
                                    <div class="col-6 list-product__text">
                                        <div class="list-product-name"> <b>Cafe Latte</b></div>

                                        <p class="list-product__price">55.000</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 list-product__col">
                        <div class=" list-product__backgrourd">
                            <div class="card-body">
                                <div class="list-product__content">
                                    <div class="col-6 list-product__card">
                                        <img class="list-product__img" src="../../public/img/cafe3.png" alt="">
                                    </div>
                                    <div class="col-6 list-product__text">
                                        <div class="list-product-name"> <b>Espresso Con Panna</b></div>

                                        <p class="list-product__price">55.000</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- het row 2 -->
                <div class="row 1 list-product">
                    <div class="col-4 list-product__col">
                        <div class="list-product__backgrourd">
                            <div class="card-body">
                                <div class="list-product__content">
                                    <div class="col-6 list-product__card">
                                        <img class="list-product__img" src="../../public/img/sinhtodau.png" alt="">
                                    </div>
                                    <div class="col-6 list-product__text">
                                        <div class="list-product-name"> <b>Sinh tố dâu </b></div>

                                        <b class="list-product-name"></b>
                                        <p class="list-product__price">55.000</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 list-product__col">
                        <div class="list-product__backgrourd">
                            <div class="card-body">
                                <div class="list-product__content">
                                    <div class="col-6 list-product__card">
                                        <img class="list-product__img" src="../../public/img/sinhtobo.png" alt="">
                                    </div>
                                    <div class="col-6 list-product__text">
                                        <div class="list-product-name"> <b>Sinh tố bơ </b></div>

                                        <p class="list-product__price">35.000</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 list-product__col">
                        <div class="list-product__backgrourd">
                            <div class="card-body">
                                <div class="list-product__content">
                                    <div class="col-6 list-product__card">
                                        <img class="list-product__img" src="../../public/img/tradao.png" alt="">
                                    </div>
                                    <div class="col-6 list-product__text">
                                        <div class="list-product-name"> <b>Trà đào cam xả màu vàng khè</b></div>

                                        <p class="list-product__price">35.000</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- het row 3 -->

            </div>
            <!-- ------------- -->
            <div class="col-1 list-product__icon">
                <img class="fa-caret-right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/OOjs_UI_icon_next-ltr.svg/1200px-OOjs_UI_icon_next-ltr.svg.png" alt="">

            </div>
         
        </div>

    </div>
