<div class="header">
    <a class="navbar-brand" href="/">Thực đơn</a>
    <div class="frm-search">
            <input @oninput="async (e) => await OnValueChangeAsync(e)"
                   class="ip-search" type="text" placeholder="Tìm kiếm mặt hàng..." />
        </div>
</div>

