<div class="header">
    <a class="navbar-brand" href="/">Thực đơn</a>
    <form class="frm-search">
            <input @bind-value:event="oninput" class="ip-search" type="text" placeholder="Tìm kiếm mặt hàng..." @bind-value="@searchName" />
        </form>
</div>

