@attribute [Route(Routes.Login)];

<div class="container">
    <div class="row">
        <div class="col-6 left">
            <img src="https://i.pinimg.com/564x/0c/18/0c/0c180ccfdcd98ab41139f923e31cabd7.jpg" alt="coffee">
        </div>
        <div class="col-6 right">
            <div class="space">

            </div>
            <div class="row title">
                <label>User Login</label>
            </div>
            <form style="padding-left: 30px; margin-top: 50px;">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Phone Number</label>
                    <input type="password" class="form-control" id="InputPassword1" placeholder="Enter Phone Number">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="Check1">Check me out</label>
                </div>
                <p class="remind">
                    Forgot password? Click here.
                </p>
                <button type="submit" class="btn btn-primary" id="login-btn">Login</button>
            </form>
            <hr>
            <form style="padding-left: 30px;">
                <button type="submit" class="btn btn-info" id="signup-btn">Sign up</button>
            </form>
        </div>
    </div>
</div>

