* {
    margin: 0;
    padding: 0;
}

.col-md-4 {
    background-color: #F8F2EB;
}

.mr-3 {
    font-size: 25px;
    margin-right: 20px;
}

.payment-infomation {
    display: flex;
    height: 100px;
    align-items: flex-end;
}

.payment-editname {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    margin-top: 10px;
}

#customer_name, #customer_phone {
    border: 0;
    border-bottom: 2px solid #AFAFAF;
    background-color: transparent;
    width: 300px;
    font-size: 15px;
}

.payment-editphone {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    margin-bottom: 40px;
}

.payment-method {
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
}

.payment-method__choose {
    display: flex;
    justify-content: center;
}

.payment-method__choose__btn__radio {
    margin-right: 5px;
}

.payment-method__choose__btn {
    display: flex;
    background-color: white;
    color: black;
    height: 45px;
    width: 60%;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 15px;
}

.payment-codescan {
    display: flex;
    justify-content: center;
    height: 185px;
    align-items: center;
}

.payment-codescan__qr {
    width: 160px;
    height: 160px;
}

/*----------------*/
.invoice {
    margin: 100px 50px 50px;
    height: 490px;
}

.mb-3 {
    font-size: 35px;
}

.payment-bill {
    height: 55px;
    font-size: 20px;
    background-color: #F8F2EB;
    border-radius: 15px;
    margin-bottom: 20px;
}

.me-3 {
    margin-left: 15px;
}

.fw-medium {
    margin-right: 15px;
}

.fs-24 {
    font-size: 30px;
    width: 400px;
    font-weight: 500;
}

.btn-dark {
    cursor: pointer;
    height: 40px;
    width: 150px;
    display: inline-block;
    text-align: center;
    border-radius: 55px;
    color: white;
}

a.btn.btn-dark.payment-checkout__btn {
    color: white;
}
