* {
    margin: 0;
    padding: 0;
}

.col-md-4 {
    background-color: #F8F2EB;
    height: 100%;
}

.customer-info {
    margin-bottom: 40px;
}

/* sao h3 font size ko dc nho */

.payment-infomation {
    display: flex;
    height: 150px;
    align-items: flex-end;
    /* padding: 100px 0px 200px 0px; */
}

.payment-editname {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    margin-top: 30px;
}

#customer_name, #customer_phone {
    border: 0;
    border-bottom: 2px solid #AFAFAF;
    background-color: transparent;
    width: 300px;
    font-size: 20px;
}


.payment-editphone {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

.payment-method {
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
}

.payment-method__choose {
    display: flex;
    justify-content: center;
}

.payment-method__choose__btn {
    display: flex;
    background-color: white;
    color: black;
    height: 50px;
    width: 60%;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 20px;
}

.payment-codescan {
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
}

.payment-codescan__qr {
    width: 200px;
    height: 200px;
}

/* --------- */
.col-md-8 {
    height: 100%;
}

.invoice {
    margin: 100px 50px 50px;
}

.mb-3 {
    font-size: 50px;
}


.payment-bill {
    height: 60px;
    font-size: 25px;
    background-color: #F8F2EB;
    border-radius: 15px;
    margin-bottom: 20px;
}

.me-3 {
    margin-left: 15px;
}

.fw-medium {
    margin-right: 15px;
}

.fs-24 {
    font-size: 30px;
    width: 400px;
    font-weight: 500;
}

.invoice {
    height: 750px;
}

.btn-dark {
    cursor: pointer;
    height: 40px;
    width: 150px;
    display: inline-block;
    text-align: center;
    border-radius: 55px;
}
